<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>687419173821-8lismcbmgbg6aoo7ttmsbi3qo58r9577.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687419173821-8lismcbmgbg6aoo7ttmsbi3qo58r9577</string>
	<key>API_KEY</key>
	<string>AIzaSyCIWXCSQbYuO3vNyNzWSn13MOP51seNMfU</string>
	<key>GCM_SENDER_ID</key>
	<string>687419173821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vulkan.Bartr</string>
	<key>PROJECT_ID</key>
	<string>bartr-e77bd</string>
	<key>STORAGE_BUCKET</key>
	<string>bartr-e77bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:687419173821:ios:93566b1448d9e4cf</string>
	<key>DATABASE_URL</key>
	<string>https://bartr-e77bd.firebaseio.com</string>
</dict>
</plist>